body {
	background: #ffffff;
	font-family: Arial;
	font-size: small;
	display: block;
	text-align: center;
}

body div {
	margin-left: auto;
	margin-right: auto;	
	display: block;
}

nav {
	height: 60px;
	width: 100%;
}

nav a, nav a img {
	height: 25px;
	position: relative;
	top: 20px;
	display: inline-block;
	float: right;
	padding-right: 10px;
	text-decoration: none;
	color: #666;
	border-radius: 20px;
}

nav a img {
	top: -5px;
}

#pagemid {
	clear: both;
	height: 300px;
	width: 100%;
	margin-top: 100px;
	position: relative;
}

#Searchbar {
	background: #fbfbfb;
	border: 1px #bfbfbf solid;
	display: block;
	height: 28px;
	position: relative;
	width: 500px;
	line-height: 26px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}



.button {
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	height: 30px;
	font-weight: bold;
	color: gray;
	border: none;
	background: #f7f7f7;
}

.newsline {
	height: 40px;
	position: relative;
	margin-bottom: 100px;
}

.newsline img, .newsline p {
	display: inline-block;
	position: relative;
	margin-left: 5px;
}

.newsline img {
	height: 25px;
	width: 25px;
}

.newsline p {
	top: -7px;
}

footer {
	height: 40px;
	background: #f2f2f2;
	border-top: .5px solid #d0d0d0;
	width: 100%;
	font-size: 14px;
	line-height: 40px;
}

#footleft{ float: left; }

#footright{	float: right; }

footer a {
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	color: #666;
}
